@import '../../../../styles/variables';

.wrapper {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    margin-top: 25px;
    margin-bottom: 15px;
}

.list {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.btn {
    background: transparent;
    border: 2px solid $grey-secondary-bg;
    border-radius: 8px;
    padding: 8px 15px;
    color: $body-secondary;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    transition: 0.3s all ease-in-out;

    &.active{
        border: 2px solid rgba($green-color, .7);
    }

    &:hover {
        border: 2px solid rgba($green-color, 1);
    }
}
