/* text */
$text-color: #333;
$title: #ffffff;
$body-primary: #ffffff;
$body-secondary: #9e9e9e;
$green-color: #55cc44;
$red-color: #d63d2e;
$hover-color: #ff9800;

/* background */
$grey-primary-bg: #202329;
$grey-secondary-bg: #3c3e44;
$overlay: rgba(41, 41, 41, 0.3);
$additional: rgba(11, 22, 41, 0.8);

$unknown: #9e9e9e


